{% load static %}
{% load myfilter %}
<!DOCTYPE html>
<html lang="en">
<head><!--th is testbranch-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel='stylesheet' type='text/css' href="{% static 'css/standard.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/poll.css'%}">
    <script id="common_animation-js"src="{% static 'js/common_animations.js'%}?v="></script>
    <script id="snap_profile-js" src="{% static 'js/snap_profile.js'%}"></script>
    <script id="comment-js" src="{% static 'js/comment.js'%}"></script>
    <script id="notification-js" src="{% static 'js/notification.js'%}?v=123"></script>
    <script id='main_post-js' src="{% static 'js/main-post.js'%}"></script>
    <title>{{title}}</title>
</head>
<body style='margin:0;padding:0px;position:relative' class="noscrollbar" onresize="resize()" onscroll="resizemenu_side()">
    {% csrf_token %}
    <a href="/polls/" class="block" onclick="showdetails()"><header>Polling Website</header></a>
    <nav class="sticky flex" style="z-index: 100000;align-items:center">
        <div class="main-menu" style="position: relative;" onclick="showprofilenavbar(document.getElementsByClassName('profilebarcontainer')[0],this)">
            <div class="main-menu-line"></div>
            <div class="main-menu-line"></div>
            <div class="main-menu-line"></div>
            <sup class="notificationdot hide" style="position:absolute;top:0px;right:0"></sup>
        </div>
        <div style="width: 100%;text-align:center;height:fit-content">
            <a href="/polls/" style="font-size: xx-large;color:rgb(17, 117, 101);font-weight:900;letter-spacing:2vw">Polling</a>
        </div>
    </nav>
    <div class="flex">
        <div class="profilebarcontainer no">
            <div id='profilenavbar' class="noscrollbar">
                <div class='flex' style="margin:0 0.7vw"><!-- place profile page url-->
                    <a class="block" style="margin:0" href="/account/profile/{{user.id}}"><img class='poll-profile cover inline radius50' style="width:45px;height:45px"name='Dp' {% if user.profile.image %} src='{{user.profile.image.url}}' {% else %} src="{% static 'image/profile.jpg' %}"{% endif %}></a>
                    <div class='block width100 mainfullname'>
                        <h3 class="no"><a class="block" href="/account/profile/{{user.id}}" name='Dp'>{{user.profile.fullname}}</a></h3>
                        <div name='Dp'>{{user.username}}</div>
                        <input type="hidden" id="profile-Id" value="{{user.id}}">
                    </div>
                </div> 
                <hr id="notificationhr">
                <button type="button" id="notification" onclick="showNotificationbar(document.getElementsByClassName('sidebarcontainer')[0],this)">Notification<sup class="notificationdot hide"></sup></button>
                <hr>
                <a class='flex menu' href=''><!--place poll posted url-->
                    <h4 class="block no">Followers</h4>
                    <h4 class="block no" id="follower-count">{{user.profile.total_poll_posted}}</h4>
                </a>
                <a class='flex menu' href=''><!--place poll posted url-->
                    <h4 class="block no">Following</h4>
                    <h4 class="block no">{{user.profile.total_poll_posted}}</h4>
                </a>
                <hr>
                <a class='flex menu' href=''><!--place poll posted url-->
                    <h4 class="block no">Posts</h4>
                    <h4 class="block no">{{user.profile.total_poll_posted}}</h4>
                </a>
                <a class='flex menu' href=''><!--place poll posted url-->
                    <h4 class="block no">Polls</h4>
                    <h4 class="block no">{{user.profile.total_poll_posted}}</h4>
                </a>
                <a class='flex menu' href=''><!--place poll posted url-->
                    <h4 class="block no">Drafts</h4>
                    <h4 class="block no">{{user.profile.total_poll_posted}}</h4>
                </a>
                <hr>
                {% if user.id %}
                <button type="button" id="login" onclick="login()">Logout</button>
                {% else %}
                <a id="login" href="{% url 'account:login'%}">Login</a>
                {% endif%}
            </div>
        </div>
        <div class='main noscrollbar' onload="loadContent()">
            <div id="add-post">
            </div>
            <div class="maincontainer noscrollbar">
            </div>
        </div>
        <div class="sidebarcontainer no">
            <div id="sidebar" class="noscrollbar">
                <div class='flex'>
                    <i class="backarrow fas" onclick="backtoprofilbar()">&#xf060;</i>
                    <h3 class='no width100'>Notication</h3>
                    <input type="hidden" id="total-notifications"value="">
                </div>
                <div id='notifications'></div>
            </div>
        </div>
    </div>
    <script>
        const max_comment_length=Number({{maxlength}});
    </script>
</body>
</html>