{% load static%}    
<div>
    <div style="background-color: rgb(223, 222, 222);border-radius:1.5vw">
        <input type="hidden" id="poll_id" value="{{poll.id}}"><!--put this tag every page-->
        <input type="hidden" id="poll-creator" value="{{poll.user.id}}">
        <input type="hidden" id='current-page-type' value="poll">
        <div style="width: 100%;">
            <div class="flex padding10" style="height: 50px;">
                <a href="/account/profile/{{user.id}}/" style="display: inline-block;"><img class='poll-profile cover inline radius50' {% if poll.user.profile.image %} src='{{poll.user.profile.image.url}}' {% else %} src="{% static 'image/profile.jpg' %}"{% endif %}></a>
                <div class="flex width100 horizontally-center" style="padding: 0px 5px;">
                    <div>
                        <h3 class="no"><a href="/account/profile/{{poll.user.id}}/" class="snap_profile"  onmouseenter="get_snap_profile(this)">{{poll.user.profile.fullname}}</a></h3>
                        <span style="font-size: small;">{{poll.createing_time}}</span>
                    </div>
                    {% if user.id == poll.user.id%}
                    <div class='comment-menu' style="position: relative;top:10px;height:20px">
                        <div class="temporary extra-temp">
                            <a class="option" href="{% url 'polls:edit' poll.id%}">edit</a><!-- poll edit url-->
                            <a class="option" href="{% url 'polls:delete' poll.id%}">delete</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div style="padding: 10px 16px;">
                {% if poll.headline %}<h4 class="no">{{poll.headline}}</h4>{% endif %}
                <div class="pre-wrap">{{poll.description}}</div>
            </div>
            {% if poll.media_set.count != 0 %}
            {% if poll.media_set.all.0.media_type != 'file' %}
            <div style="position: relative;overflow:hidden" class="post-picture-container"><!--this is for poll photo slide-->
                {% for media in poll.media_set.all %}
                {% if media.media_type == 'img'%}
                <div class="no fade" {% if forloop.counter != 1 %} style="display: none;" {% endif %}><!--image for poll or the post-->
                    <img src="{{media.img.url}}" class="poll-img">
                    <!--<i class="fas fa-expand" onclick="fullscreen()"></i>-->
                </div>
                {% else %}
                <div class="poll-img no fade" style="position:relative;{% if forloop.counter != 1 %};display: none;{% endif %}">
                    <video src="{{media.video.url}}" style="width: 100%;"  onplay="play(this,true)" onpause="pause(this,true)" onvolumechange="this.muted?mute(this,true):unmute(this,true)" loop></video>
                    <i class="fas fa-play-circle" onclick="play(this.parentElement.firstElementChild)"></i>
                    <i class="fas fa-pause-circle" onclick="pause(this.parentElement.firstElementChild)" style="display: none;"></i>
                    <i class="fas fa-volume-up volume" onclick="mute(this.parentElement.firstElementChild)"></i>
                    <i class="fas fa-volume-mute volume" onclick="unmute(this.parentElement.firstElementChild)" style="display: none;"></i>
                    <i class="fas fa-expand volume" onclick="this.parentElement.firstElementChild.requestFullscreen()"></i>
                </div>
                {% endif %}
                {% endfor %}
                {% if poll.media_set.count > 1%}
                <a class="poll-img-slide-controler" style="left: 0px;display:none" onclick="changeSlide(this,-1)"><span class="control-arrow">&lt;</span></a><!--this is right arrow control-->
                <a class="poll-img-slide-controler" style="right: 0px;display:inline-block" onclick="changeSlide(this,+1)"><span class="control-arrow">&gt;</span></a><!--this is left arrow control-->
                <input type="hidden" value="1">
                {% endif %}
            </div>
            {% if poll.media_set.count > 1 %}
            <div style="text-align: center"><!--this are dotes for slide photo count and show them-->
                {% for _ in ''|center:poll.media_set.count %}
                <span onclick="showSlide(this.parentElement,{{ forloop.counter }})" class="slidecontroldot {% if forloop.counter == 1 %}activeslide{% endif %}"></span>
                {% endfor %}
            </div>
            {% endif %}
            {% else %}<!--put the file display ifram-->
            <div style="position: relative;overflow:hidden;width:100%;text-align:center">
                <div class="doc-container">
                    <a href="{{ poll.media_set.all.0.files.url }}" target="_blank" class='doc'>View Pdf</a>
                    <a href="{{ poll.media_set.all.0.files.url }}" download class="fas fa-file-download"></a>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% if poll.choice_set.count != 0 %}
            <hr>
            <form><!--choice form-->
                <input type="hidden" id='choice-description-collapsed' value="{{poll.show_collapsed}}">
                {% csrf_token %}
                {% for choice in poll.choices_set.all %}
                <div style="margin:5px 7.5%;">
                    <input type="radio" value="{{choice.id}}" name='vote' id="choice_id_{{choice.id}}" required {% if choice.id == vote %} checked {% endif %} style="display: none;">
                    <div class="choice-background">
                        <div class="flex choice"><!--this div for result meter-->
                            <span class="choice-number choice_id_{{choice.id}}" onclick="select(this)">{{choice.id|add:num1}}</span>
                            <span class="choice-label pre-wrap choice_id_{{choice.id}}" onclick="select(this)">{{choice.title}}</span>
                            {% if choice.image or choice.description %}
                            <button type="button" class='collapse-controller' onclick="collapse(this)">+</button>
                            {% endif %}
                        </div>
                    </div>
                    {% if choice.image or choice.description %}
                    <div class="choice-collapsed" style="max-height:0px;background-color:rgba(190, 189, 189, 0.801)">
                        {% if choice.image %}
                        <img src="{{choice.image.url}}" style="display: block;width: 100%" >
                        {% endif %}
                        {% if choice.description %}
                        <div class="pre-wrap" style="padding: 5px 10px;">{{choice.description}}</div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <div style="margin:5px 7.5%;">
                    <button type="submit" class="choice-submit" formmethod="POST" formaction="{% url 'polls:vote' poll.id %}" disabled>Submit</button>
                </div>
            </form>
            <hr>
            {% endif %}
            <div class="flex" style="padding:8px 10px"><!--post meta information-->
                <form action="{% url 'polls:like' poll.id %}" method="POST" class="inline-block"><!--like and dislike option-->
                    <div style="display: inline-block;margin:0 7px">
                        <input type="radio" name="like" value="1" style='display:none' {% if like == True %} checked {% endif %}>
                        <i class="fas fa-thumbs-up" onclick="like(this)"></i>
                        <a title="{{poll.like}}" id='like-count' style="font-weight:900;" onclick="showlist('{% url 'polls:likelist' poll.id %}',1)" class="clickable-a">{{poll.like|shortnumber}}</a>
                    </div>
                    <div style="display: inline-block;">
                        <input type="radio" name="like" value="0" style='display:none' {% if like == False %} checked {% endif %}>
                        <i class="fas fa-thumbs-down" onclick="like(this)"></i>
                        <a title="{{poll.dislike}}" id='dislike-count' style="font-weight:900;" onclick="showlist('{% url 'polls:dislikelist' poll.id %}',2)" class="clickable-a">{{poll.dislike|shortnumber}}</a>
                    </div>
                </form>
                <div class="inline-block" style="margin: 0 8px;">
                    <div style="display: inline-block;">
                        <i class="fas fa-vote-yea {% if vote %}bright-icons{% endif %}" title="{{poll.total_vote}}"></i>
                        <a id="vote-count" title="{{poll.total_vote}}" style="font-weight:900" onclick="showlist('{% url 'polls:votelist' poll.id %}',3)" class="clickable-a">{{poll.total_vote|shortnumber}}</a>
                    </div>
                    <span id='comment-count' class="fas fa-comments {% if commented %}bright-icons{% endif %}" title="{{poll.total_comment}}" style="margin: 0 5px;">{{poll.total_comment|shortnumber}}</span>
                    <i class="fas fa-share" style="color: rgb(58, 58, 58);;margin:0 5px"></i>
                </div>
                <div class='whole-window' style="transform:scale(0,0)"><!--floating for like,dislike and voter list-->
                    <div class="main-window-list">
                        <div style="display: flex">
                            <div style="width: 100%;">
                                <span class='personlist-option' onclick="showlist('{% url 'polls:likelist' poll.id %}',1)">Like</span>
                                <span class='personlist-option' onclick="showlist('{% url 'polls:dislikelist' poll.id %}',2)">Dislike</span>
                                <span class='personlist-option' onclick="showlist('{% url 'polls:votelist' poll.id %}',3)">Vote</span>
                            </div>
                            <button type="button" onclick="hidepersonlist()" class='personlist-button'>✖</button>
                        </div>
                        <div class="person-list"></div><!--this is the list-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin: 5px;">
    <h3 class='no upper-padding'>Comments...</h3>
    <div class="flex flex-start upper-padding" id='blankcomment' style="opacity: 0.5;"{% if user.id %} onmouseenter="shineandfocus(this)" onmouseleave='dimifnocomment(this)'{% else %}
    onmouseenter="shine(this)" onmouseleave='dim(this)'{% endif %}>
        <img class='poll-profile cover inline radius50' {% if user.profile.image %} src='{{user.profile.image.url}}' {% else %} src="{% static 'image/profile.jpg' %}"{% endif %} >
        <div class='hundrad'>
            <div class="flex hundrad comment-background">
                <div class="hundrad left-padding">
                    <h4 class="no">{{user.profile.fullname}}</h4>
                    <textarea {% if user.id %}placeholder="Your Comment..." oninput="autohightinreament(this)" onchange="submitstartcomment(this)" {% else %}
                        placeholder="Pleace login first..." onclick="showloginwindow()"{% endif %}
                        rows="1" style="height: 24px;" maxlength="{{maxlength}}"></textarea>
                    <input type="hidden" value="{{user.id}}">
                </div>
                <div class='comment-menu' style="position: relative;display:none"></div>
            </div>
            <div>
            </div>
        </div>
    </div>
        <!--

        {% for comment in comments %}
        <div class="flex flex-start upper-padding" id="comment_{{comment.id}}">
            <img class='poll-profile cover inline radius50' {% if comment.user.profile.image %} src='{{comment.user.profile.image.url}}' {% else %} src="{% static 'image/profile.jpg' %}"{% endif %} >
            <div class='hundrad'>
                <div class="flex hundrad comment-background" onmouseenter="show(this)" onmouseleave="hide(this)">
                    <div class="hundrad left-padding">
                        <h4 class="no">{{comment.user.profile.fullname}}</h4>
                        <div id="comment{{comment.id}}" class='textarea hundrad left-padding pre-wrap'>{{comment.comment}}</div>
                        <input type="hidden" value="{{comment.user.id}}">
                    </div>
                    <div class='comment-menu' onmouseenter="showcommentmenu('{{comment.id}}',true,this)" style="position: relative;display:none"></div>
                </div>
                <div>
                    {% with id=comment.id%}                
                    {% for reply in reply_comment|item:id %}
                    <div id='comment_{{reply.id}}' class='flex flex-start upper-low-padding hundrad'>
                        <img class='poll-profile cover inline radius50' {% if reply.user.profile.image %} src='{{reply.user.profile.image.url}}' {% else %} src="{% static 'image/profile.jpg' %}"{% endif %} >
                        <div class="flex hundrad comment-background" onmouseenter="show(this)" onmouseleave="hide(this)">
                            <div class="hundrad left-padding">
                                <h4 class="no">{{reply.user.profile.fullname}}</h4>
                                <div id="comment{{reply.id}}" class='textarea hundrad left-padding pre-wrap'>{{reply.comment}}</div>
                                <input type="hidden" value="{{comment.id}}">
                                <input type="hidden" value="{{reply.user.id}}">
                            </div>
                            <div class="comment-menu" onmouseenter="showcommentmenu('{{reply.id}}',false,this)" style="position: relative;display:none"></div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>-->
</div>
